@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot') format('embedded-opentype'),
  url('../fonts/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/OpenSans-Bold.woff') format('woff'),
  url('../fonts/OpenSans-Bold.ttf') format('truetype'),
  url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot') format('embedded-opentype'),
  url('../fonts/OpenSans-Regular.woff2') format('woff2'),
  url('../fonts/OpenSans-Regular.woff') format('woff'),
  url('../fonts/OpenSans-Regular.ttf') format('truetype'),
  url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/OpenSans-Light.eot');
  src: url('../fonts/OpenSans-Light.eot') format('embedded-opentype'),
  url('../fonts/OpenSans-Light.woff2') format('woff2'),
  url('../fonts/OpenSans-Light.woff') format('woff'),
  url('../fonts/OpenSans-Light.ttf') format('truetype'),
  url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url('../fonts/OpenSans-Italic.eot');
  src: url('../fonts/OpenSans-Italic.eot') format('embedded-opentype'),
  url('../fonts/OpenSans-Italic.woff2') format('woff2'),
  url('../fonts/OpenSans-Italic.woff') format('woff'),
  url('../fonts/OpenSans-Italic.ttf') format('truetype'),
  url('../fonts/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
}

@font-face {
  font-family: 'OpenSansSemibold';
  src: url('../fonts/OpenSans-Semibold.eot');
  src: url('../fonts/OpenSans-Semibold.eot') format('embedded-opentype'),
  url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
  url('../fonts/OpenSans-Semibold.woff') format('woff'),
  url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
  url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
}
