// FONTS
@import "fonts";

// COMPONENTS
@import 'components/variables';
@import 'components/header';
@import 'components/button';
@import 'components/scrollbar';
@import 'components/modal';
@import 'components/left-menu';
@import 'components/tables';
@import 'components/inputs';
@import 'components/tree-select';

// PAGES
@import 'pages/user/login';
@import 'pages/main/mainView';
@import 'pages/main/test/test';
@import 'pages/main/test/details';
@import 'pages/main/test/results';
@import 'pages/main/video/video';
@import 'pages/main/literature/literature';

// ADMIN
@import 'admin/admin';
@import 'admin/questions';

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100vh;
  float: left;
  font-family: OpenSansRegular;
  color: $alphabet;
  background-color: $body !important;
}

#app {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  float: left;
}
.no--padding {
  padding: 0px !important;
}

.no--margin {
  margin: 0px !important;
}
.false__color {
  color: $error;
}

.true__color {
  color: $success;
}

*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
