.button__style {
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
  padding: 12px 35px;
  background-color: $main-blue;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-family: OpenSansSemibold;

  &:focus {
    outline: none;
    color: #fff;;
    text-decoration: none;
  }

  &:hover {
    background-color: #0881C4;
    color: #fff;
    text-decoration: none;
  }
}

.error {
  color: $error !important;
}

.success {
  color: $success !important;
}
