::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $backgroundScrollBar;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $colorTrack;
}
