// Fonts
$open-sans-bold: "OpenSansBold";
$open-sans-regular: "OpenSansRegular";
$open-sans-light: "OpenSansLight";
$open-sans-italic: "OpenSansItalic";
$open-sans-semi-boal: "OpenSansSemibold";


// Main COLORS
$header: #fff;
$main-blue: #1673DB;
$body: #F2F2F2;

// Text
$alphabet: #646A6D;
$alphabet-input: #646A6D;
$alphabet-description: #AAAAAA;

// Link
$active-link: #1673DB;
$active-input: #1673DB;

// Border
$border-input: #949BA8;
$border-text-box: #E8E8E8;

// Hover
$hoverRowLink: rgba(0,0,0,.07);
$hoverItemSubMenu: rgba(0,0,0,.04);


// Colors
$grey: #EFEFEF;

// SCROLLBAR
$backgroundScrollBar: #B6B7B7;
$colorTrack: #85868A;

//Success case colors
$success:#3FB547;

//Error case colors
$error: #EB2729;



// SHADOWS
$login-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
$header-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.07);
$test-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
