.main__container {
  float: left;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .main__body {
    float: left;
    width: calc(100% - 200px);
    padding: 0px 100px;
    height: calc(100% - 90px);
    margin: 20px 0px;
    background-color: $body;
    overflow-x: auto;
  }
}

