.video__body {
  width: 100%;
  float: left;

  .video__title {
    width: 100%;
    float: left;
    font-size: 30px;
    font-family: OpenSansBold;
    margin-bottom: 5px !important;
    color: $main-blue;
    cursor: default;
  }

  .videos {
    float: left;
    width: 100%;
    padding-bottom: 50px;

    .video__box {
      min-height: 150px;
      width: 100%;
      float: left;
      border-radius: 10px;
      background: #fff;
      margin: 10px 0px;

      .video__photo {
        width: 180px;
        float: left;
        height: 100%;
        position: relative;

        img {
          margin: 10px;
          border-radius: 10px;
          width: 150px !important;
          height: 120px !important;
          border: 5px solid $border-text-box;
        }

        .image_literature {
          margin: 10px;
          border-radius: 10px;
          width: 150px !important;
          padding: 10px;
          height: 120px !important;
          background: $border-text-box;
          position: absolute;
          float: left;
          z-index: 2;
          top: 0;
          left: 0;
          fill: #97999b;
        }

        svg {
          position: absolute;
          float: left;
          z-index: 2;
          height: 40px;
          top: calc(50% - 20px);
          left: calc(50% - 20px);
          fill: #fff;

          polygon {
            fill: #000;
          }
        }
      }

      .video__info {
        width: calc(100% - 180px - 250px - 20px);
        float: left;
        padding: 10px;
        height: 100%;

        .video__label {
          word-wrap: break-word;
        }

        .video__descriptions  {
          word-wrap: break-word;
        }
      }

      .video__button {
        width: 250px;
        float: left;
        padding: 51px 0px;
        text-align: center;

        .button--show_video {

          svg {
            height: 12px;
            padding-left: 3px;

            .cls-1 {
              fill: none;
              stroke: #fff;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-width: 3px;
            }
          }

          &:hover {
            background-color: #0881C4;
          }
        }
      }
    }
  }
}
