// max-width: 400px
@media only screen and (max-width: $screen-xxs-min) {
  .header {
    padding: 0px 20px;
    z-index: 3;

    .logo {
      height: 40px;
      margin: 15px 0px;
    }

    .menu__items {
      display: none;
      background: #d3d4d5;
      position: absolute;
      width: 100%;
      top: 70px;
      left: 0;
      border-radius: 0px 0px 5px 5px;

      a {
        width: 100%;
      }
    }

    .nav_icon {
      display: block;
      width: 30px;
      height: 30px;
      padding: 20px 0px;
      float: right;

      svg {
        width: 30px;
        height: 30px;

        .cls-1 {
          fill: none;
          stroke: #656b6e;
          stroke-linecap: round;
          stroke-miterlimit: 10;
          stroke-width: 2.5px;
        }
      }
    }
  }
}
